.row
  #localStorage

.row
  .col-sm-4.offset-sm-8
    #search-box
      = form_tag("/", method: :get) do
        .input-group
          %input.form-control#search{:name => "search"}
          .input-group-append
            = submit_tag "Search", class: "btn btn-secondary"

            %a.btn.btn-default{href: '/'}
              %i.fa.fa-times

%hr.mb-30
.row
  - @films["results"].map do |film|
    .col-sm-4.py-2
      .card#film{id: film['episode_id']}
        .card-body
          .film-header
            %a{:href => "films/#{film["url"].split('/')[-1]}"}
              %h3.film-title= film["title"]
          .film-info
            .info-section
              %label Relase Date
              %span= format_date(film["release_date"])
            .info-section
              %label Director
              %span= film["director"]
            .info-section
              %label Favorite
              %span
                %i.fa.fa-star.hidden#icon-film{:id => "#{film["episode_id"]}"}
                %button.btn.btn-primary.btn-sm.add-to-favorite#film{:id => "#{film["episode_id"]}", :onclick => "addToFavorite(""'#{film["url"]}'" + ", this.id)"} ADD



:javascript

  addToFavorite = function(film, id, event) {
    console.log(id);
    var items = [];
    items.push(film);
    localStorage.setItem('favoriteFilms', items);
    $("#"+id+"").addClass('fav-film');
    $(".add-to-favorite#"+id+"").hide();
    $("#icon-"+id+"").removeClass('hidden');

    var notif;
    notif = $('#notification-msg');
    notif.removeClass('hidden');
    return setTimeout((function() {
      notif.addClass('hidden');
    }), 2000);

    $("'#"+ id +"'").addClass('fav-film');


    event.preventDefault();
  };
