!!!
%html
  %head
    %title Star Wars

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = csrf_meta_tags
    = yield :javascript

  %body
    = render 'layouts/partials/header'
    %main.container
      = render 'layouts/partials/notification'
      = yield
